/* Font and Website design for Tamoe */

/* Fonts */
@font-face {
    font-family: "Butterland";
    src: url(../../assets/fonts/Butterland.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --font: Butterland;

    /* As color in the */
    --darkest-color: #3C4048;
    --not-so-dark-color: #202123;
    --middle-color: #B2B2B2;
    --not-so-bright-color: #F2E7D5;
    --brightest-color: #F7F7F7;
}

body {
    font-family: var(--font);
    background-color: var(--darkest-color);
}

/* components */

.nav {
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navy {
    border-style: solid;
    border-width: medium;
    text-align: center;
    align-content: center;
    margin-right: auto;
}

.content {
    align-content: center;
    text-align:center;
    font-size: 14pt;
    margin-top: 15px;
}

.chibi {
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: content;
    position: relative;
    width: 450px;
    height: 636px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.ae {
    background-image: url(../images/2.gif);
    background-repeat: repeat;
    position: relative;
    margin: 0px auto;
    width: 358px;
    height: 292px;
}

table {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.links {
    margin-top: 30px;
}

.links tr>td:first-child {
    padding: 0 1em 0 0;
}

.link {
    color: var(--middle-color);
    text-decoration: underline;
    text-align: center !important;
}

.box {
    border: var(--not-so-bright-color) solid 2px;
    background: var(--not-so-dark-color);
    padding: 1em;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 1em;
}

.grid-links {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: auto;
}

.grid-ae {
    padding: 0 4px;
}

.grid-ae:hover img {
    outline: 2px solid var(--brightest-color);
}

/* text format */

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, 0 0 25px blue,0 0 5px darkblue;
    color: white;
}

.underline {
    text-decoration: underline;
}

.lowkey {
    color: var(--middle-color);
    opacity: 0.5;
    font-size: 12pt;
}
