/* Color Font and Kebas */

:root {
    /* As color in the */
    --darkest-color: #3C4048;
    --not-so-dark-color: #202123;
    --middle-color: #B2B2B2;
    --not-so-bright-color: #F2E7D5;
    --brightest-color: #F7F7F7;
}

body {
    background-color: var(--darkest-color);
}

/* components */

.nav {
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navy {
    border-style: solid;
    border-width: medium;
    text-align: center;
    align-content:center;
    background-color: #7b6a6c;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    align-content: center;
    text-align:center;
    font-size: 14pt;
    margin-top: 15px;
}

.chibi {
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: content;
    position: relative;
    width: 450px;
    height: 636px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

.ae {
    background-image: url(../images/2.gif);
    background-repeat: repeat;
    position: relative;
    margin: 0px auto;
    width: 358px;
    height: 292px;
}

table {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-links {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: auto;
}

.grid-ae {
    padding: 0 4px;
}
.grid-ae:hover img {
    outline: 2px solid var(--brightest-color);
}

/* text format */

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, 0 0 25px blue,0 0 5px darkblue;
    color: white;
}

.underline {
    text-decoration: underline;
}

.lowkey {
    color: var(--middle-color);
    opacity: 0.5;
    font-size: 12pt;
}

p.one {
    border-style: solid;
    border-width: 5px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #5d9ab2;
}

#members {
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#members td, #members th {
    font-size: 1.1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#members th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color:#ff990d;
}

#members tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
